<main>
  <div class="container" id="home">
    <div class="row">

      <div class="col-xs-6 col-xs-offset-1">
        <div id="articleContainer">
          <div id="articles">
          <ul>
          {{#each found}}
            <li>
              <div class='media homeMedia'>
                <div class='media-left'>
                  <img class='media-object' src='{{this.image}}'>
                </div>
                <div class='media-body'>
                  <a href='{{this.link}}'>
                  <h4 class='media-heading'>{{this.title}}</h4>
                  </a>{{this.source}}
                </div>
                <div class='media-right'>
                  <form>
                    <button type='submit' class='btn btn-info noteBtn' data-id='{{this._id}}' href='/notes/{{this._id}}'>
                    <span class='glyphicon glyphicon-comment' aria-hidden='true'></span> Note
                    </button>
                    <button type='submit' class='btn btn-warning disabled' data-id='{{this._id}}' href='/save/{{this._id}}'>
                    <span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span> Save
                    </button>
                  </form>
                </div>
              </div>
            </li>
          {{/each}}
          </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <form id="noteForm">
          <div class="form-group">
            <label for="noteBody">Leave a Note</label>
            <textarea id="noteBody" class="form-control" rows="4"></textarea>
          </div>
          <button id="submitNote" type="submit" class="btn btn-info" data-id="584dab027dbc902e7c264fa6">Submit</button>
        </form>
        <div id="notesContainer">
          <ul id="notesUL">
          </ul>
        </div>
      </div>

    </div>
  </div>
</main>

