<header>
  <h1>  Protected Dusk</h1>
{{!--   <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- navbar colapse -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="/">Protected Dusk</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/vigilantcitizen">News<span class="sr-only">(current)</span></a></li>
          <li><a href="/mostcommented" disabled="disabled"></a>Most Commented</li>
        </ul>
      </div>
    </div>
  </nav> --}}
</header>
<main>
  <div id="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-1">
        <div id="articleContainer">
          <div id="articles">
          <ul>
          {{#each found}}
            <li>
              <div class='media'>
                <div class='media-left'>
                  <img class='media-object' src='{{this.image}}'>
                </div>
                <div class='media-body'>
                  <a href='{{this.link}}'>
                  <h4 class='media-heading'>{{this.title}}</h4>
                  </a>{{this.source}}
                </div>
                <div class='media-right'>
                  <form action= >
                    <button type='submit' class='btn btn-info btn-lg' data-id='{{this._id}}' href='/{{this._id}}'>
                    <span class='glyphicon glyphicon-comment' aria-hidden='true'></span> Notes
                    </button>
                  </form>
                </div>
              </div>
            </li>
          {{/each}}
          </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <form id="noteForm" method="POST" action="/vigilantcitizen/?_method=POST" >
          <div class="form-group">
            <label for="noteBody">Leave a Note</label>
            <textarea id="noteBody" class="form-control" rows="4"></textarea>
          </div>
          <button id="submitNote" type="submit" class="btn btn-info" data-id="584cfa39b63c05329870b22a">Submit</button>
        </form>
        <div id="notesContainer">
          <ul id="notesUL">
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>







{{!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
      <img src="/assets/images/burger.png" alt="burger" />
      <h1> {{this.source}} </h1>
    </div>
    <div class="col-xs-6 text-center" class="task">
      <div class="row">
        {{#each burger_data}}
          {{#unless this.devoured}}
        <div class="col-xs-9 text-center">
          <pre>{{this.id}}. {{this.burger_name}}
          </pre>
              <!-- {{this.Date}} -->
        </div>
        <div class="col-xs-3 text-center">
          <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
            <input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
            <button type="submit" class="btn btn-default">Devour it!</button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
</div> --}}
